// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '../../node_modules/bootstrap-select/sass/bootstrap-select';



// .text-link:hover
// {
//     text-decoration: true;
//     color: red;
//     background: red;
// }

label.error::before{
    display: block;
}


label.error{
    float: none;
    color: red;
    font-weight: bolder;
    padding-left: .5em;
    vertical-align: middle;
    font-size: 12px;
}
